body {
    font-size: var(--font-size-base);
    color: var(--font-color-base);
    background-color: var(--theme-color);
    line-height: var(--line-height-none);
    margin: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}


// 下拉菜单弹窗
.el-dropdown-menu {
    background-color: var(--background-color-popup);
    border-color: var(--background-color-popup);
    box-shadow: var(--box-shadow-light-color);

    .el-dropdown-menu__item {
        color: var(--font-color-base);
        font-size: var(--font-size-base);

        &:not(:first-child) {
            margin-top: 3px;
        }

        &:hover {
            background-color: var(--background-color-active);
            color: var(--font-color-light);
        }
    }

    .popper__arrow,
    .popper__arrow::after {
        border-bottom-color: var(--background-color-popup) !important;
    }
}


// 输入框
.el-input {
    .el-input__inner {
        background-color: var(--background-color-block-input);
        color: var(--font-color-base);
        border-color: var(--font-color-secondary);

        &::placeholder {
            color: var(--font-color-secondary);
        }

        &:focus {
            border-color: var(--font-color-base);
        }
    }
}


// 弹窗
.el-dialog {
    background-color: var(--background-color-popup) !important;
    padding: 10px;

    .el-dialog__header {
        padding: 0 !important;

        .el-dialog__title {
            color: var(--font-color-base) !important;
            font-size: var(--font-size-medium) !important;
        }
    }
}

.el-popup-parent--hidden {
    padding-right: 0 !important;
}

.v-modal {
    opacity: 1;
    background-color: var(--mark-color);
}


// 回到顶部
.el-backtop {
    background-color: var(--background-color-popup);
    color: var(--font-color-base);
    box-shadow: var(--box-shadow-light-color);

    &:hover {
        background-color: var(--background-color-active);
        color: var(--font-color-light);
    }
}


// markdown文档
.markdown-body {
    color: var(--font-color-base) !important;
    z-index: 1 !important;

    h2 {
        border-bottom: 1px solid var(--font-color-secondary) !important;
    }

    table {
        tr {
            background-color: var(--theme-color) !important;

            &:nth-child(2n) {
                background-color: rgba(255, 255, 255, .1) !important;
            }

            td,
            th {
                border: 1px solid var(--font-color-secondary) !important;
            }
        }
    }
}