:root {
    /* 主题色 */
    --primary-color: #7a40f2;

    /* 背景色 */
    --background-color: #f9f9f9;

    /* 基础色 */
    --base-color-1: #3acbe9;
    --base-color-2: #f4c427;
    --base-color-3: #ff9060;

    /* 字体颜色 */
    --font-color-light: #f9f9f9;
    --font-color-dark: #131313;

    /* 字体大小 */
    --font-size-small: 12px;
    --font-size-base: 14px;
    --font-size-medium: 16px;

    /* 行高 */
    --line-height-base: 1.2;

    /* 圆角 */
    --border-radius-small: 6px;
    --border-radius-base: 10px;
    --border-radius-big: 20px;

    /* 过渡持续时长 */
    --transition-duration-fast: 0.15s;
    --transition-duration-base: 0.3s;


    /* 头部栏高度 */
    --header-bar-height: 40px;
}