# 配置 npm 的默认镜像源为淘宝镜像源
registry = "https://registry.npmmirror.com"

# 配置此项目的局部镜像源之 electron
electron_mirror = "https://npm.taobao.org/mirrors/electron/"

# 配置此项目的局部镜像源之 sass
# node-sass 现在很少有项目用了，主要用来兼容一些老旧项目
sass_binary_site= "https://npm.taobao.org/mirrors/node-sass/"

# node 版本与 package.json 配置不同的时候，中断命令执行
engine-strict = true